@import "../../../assets/styles/variables";

.dropdown {
  position: relative;

  .menu-button {
    background: none;
    border: none;
    font-size: 20px;
    color: $slate-blue;
    cursor: pointer;
    padding: 5px;
  }

  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: $off-white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 10;
    padding: 8px 0;
    width: 200px;
  }

  .menu-item {
    @include flex(row, center);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    color: $navy-blue;
    @include transition(background-color);

    &:hover {
      background: lighten($slate-blue, 50%);
    }

    .icon {
      margin-right: 10px;
      font-size: 18px;
      color: $slate-blue;
    }

    .label {
      flex-grow: 1;
    }
  }
}
