@import "../../../assets/styles/variables";

.status {
  padding: 6px 13px;
  border-radius: 100px;
  text-transform: capitalize;
  width: fit-content;
  font-size: 14px;

  &.inactive {
    color: $slate-blue;
    background: #f5f5f7;
  }

  &.pending {
    color: #e9b200;
    background: #fdf7e5;
  }

  &.blacklisted {
    color: #e4033b;
    background: #fde6eb;
  }

  &.active {
    color: #39cd62;
    background: #f3fcf6;
  }
}
