@import "../../../assets/styles/variables";

.filter-dropdown {
  position: relative;

  button {
    padding: 0;
    width: fit-content;
  }
  .filter-button {
    background: none;
    border: none;
    cursor: pointer;
    @include flex(row, center);
    img {
      width: 16px;
      height: 16px;
    }
  }

  .filter-form {
    position: absolute;
    top: 100%; // Position below the button
    right: 0;
    background: #ffffff;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 270px;
    z-index: 10;

    .form-group {
      margin-bottom: 20px;

      label {
        display: block;
        font-weight: 500;
        color: #545f7d;
        text-transform: capitalize;
        margin-bottom: 6px;
      }

      input,
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid #dcdcdc;
        border-radius: 6px;

        &:focus {
          outline: none;
          border-color: #39cdcc;
          box-shadow: 0 0 0 2px rgba(57, 205, 204, 0.3);
        }
      }
    }

    .form-actions {
      @include flex(row, left, space-between, 14px);
      .reset-btn,
      .filter-btn {
        padding: 10px 15px;
        border-radius: 6px;
        flex-grow: 1;
        border: none;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      .reset-btn {
        background: none;
        color: $slate-blue;
        border: 1px solid $slate-blue;

        &:hover {
          background: lighten($slate-blue, 50%);
        }
      }

      .filter-btn {
        background: #39cdcc;
        color: #ffffff;

        &:hover {
          background: #2ea9a8;
        }
      }
    }
  }
}

select {
  text-transform: capitalize;
}
