@import "../../../assets/styles/variables";

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

input {
  border: 2px solid #545f7d26;
  border-radius: 5px;
  color: $slate-blue;
  background-color: white;
  padding: 16px 17.5px 12.5px;
  @include transition(background-color);
  @include transition(box-shadow);
  // transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;

  &::placeholder {
    font-size: 14px;
  }

  &:focus {
    border-color: $turquoise;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.1);
    outline: none;
  }
}

.toggle-visibility {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: 600;
  color: $turquoise;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
