@import "../../../assets/styles/variables";

nav {
  padding: 40px 0;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.04);
  width: 300px;
  height: 79vh;
  position: sticky;
  top: 100px;
  div {
    @include flex(column, left, left, 30px);
    .organization-switch {
      margin-bottom: 12px;
      @include flex(row, center, left, 10px);
      color: $navy-blue;
      cursor: pointer;
      padding: 0 30px;
    }
  }
  ul {
    padding: 0;
    list-style-type: none;
    p {
      font-size: 12px;
      font-weight: 500;
      color: $slate-blue;
      margin-bottom: 10px;
      padding: 0 30px;
    }
    li {
      @include flex(row, center, left, 10px);
      padding: 10px 30px;
      text-transform: capitalize;
      cursor: pointer;
      &:hover {
        background-color: #f3fcfc;
      }
      p {
        font-size: 16px;
        padding: 0;
        margin: 0;
        font-weight: 400;
        color: #7a8cb1;
      }
      &.active {
        background-color: #f3fcfc;
        border-left: 3px solid $turquoise;
        p {
          color: $navy-blue;
        }
      }
    }
  }
}
